.popup__input {
  margin: 0 0 30px;
  padding: 0 0 13px;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  border: none;
  border-bottom: 1px #000000 solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
